/*----------------------- Base -----------------------*/
body {
    background-color: black;
    color: white;
}

footer {
    text-align: center;
    padding: 50px;
    background-color: #212529 !important;
}

.mapRowLandig {
    align-items: end !important;
}

.rowContainer {
    margin-top: 42px;
    margin-bottom: 42px;
}

.carousel-caption {
    bottom: 15vw !important;
}

.carousel-caption .btn {
    background-color: #ff6b1b !important;
}

.infoContainer {
    margin-top: 42px !important;
    margin-bottom: 42px !important;
}

.infoContainer .row {
    margin-top: 42px !important;
    margin-bottom: 42px !important;
}

.imageRow {
    text-align: center;
}

/*----------------------- Responsive -----------------------*/
@media only screen and (max-width: 774px) {
    .titleSection {
        text-align: center;
    }
    #dynamicTable {
        table-layout: auto !important;
    }
    .tableFixHead {
        overflow: initial !important;
    }
    #searchContainer {
        margin-left: 0px;
        margin-right: 0px;
    }
    #datos {
        overflow: auto !important;
        height: 100vh;
    }
    .carouselDk {
        display: none;
    }

}

@media only screen and (min-width: 775px) {
    .carouselMovile {
        display: none;
    }

}

@media only screen and (max-width: 1200px) {
    .carousel-caption {
        bottom: 0vw !important;
    }
}

/*----------------------- Sección titulos y buscador -----------------------*/
#titulo {
    margin: 1vw 2vw 1vw 2vw;
}
#subtitulo {
    margin: 1vw 3vw 1vw 3vw;
}
.searchContainer {
    width: 100%;
    min-width: 100%;
}

.btn {
    font-size: 14px;
}

#datos {
    overflow: clip;
}

.searchContainer input:focus {
    box-shadow: none !important;
}

/*----------------------- Mapa -----------------------*/
.stickySectionNav {
    position: sticky !important;
    left: 0;
    z-index: 2000;
}
.stickySection {
    position: sticky !important;
    top: 0;
    left: 0;
    z-index: 2;
}
.stickySectionLeft {
    position: sticky !important;
    left: 0;
    z-index: 1;
}
.stickyMap {
    background-color: black;
}
#stickyHeaderMap {
    display: flex;
    align-items: center;
    vertical-align: middle;
}
#myMap {
    height: 16em !important;
  }
@media only screen and (min-height: 460px) {
    #myMap {
      height: 22em !important;
    }
}
@media only screen and (min-height: 660px) {
    #myMap {
      height: 30em !important;
    }
}
@media only screen and (min-height: 660px) {
    #myMap {
      height: 30em !important;
    }
}
@media only screen and (min-height: 850px) {
    #myMap {
      height: 39.3em !important;
    }
}
@media only screen and (min-height: 1080px) {
    #myMap {
      height: 52.6em !important;
    }
}

/*----------------------- Tabla -----------------------*/
.tableFixHead {
    overflow: clip;
}
#dynamicTable {
    table-layout: fixed;
    color: white;
    border-color: rgb(77, 77, 77);
}
.tableFixHead thead th { 
    position: sticky; 
    top: 16em; 
    z-index: 1; 
}
th {
    cursor: pointer;
}
nav {
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    z-index: 9999999;
}
nav li {
    cursor: pointer;
}
.searchContainer {
    margin: 10px;
}
#searchField {
    color: white;
}
td {
    white-space: normal !important; 
    word-wrap: break-word; 
}
.table-hover>tbody>tr:hover>* {
    color: rgb(194, 194, 194);
}
.responsiveColumn1 {
    width: 82px;
}
.responsiveColumn2 {
    width: 100px;
}
@media only screen and (min-height: 460px) {
    .tableFixHead thead th {
        top: 20em  !important;
    }
}
@media only screen and (min-height: 660px) {
    .tableFixHead thead th {
        top: 26em  !important;
    }
}
@media only screen and (min-height: 850px) {
    .tableFixHead thead th {
        top: 33em  !important;
    }
}
@media only screen and (min-height: 1080px) {
    .tableFixHead thead th {
        top: 43em  !important;
    }
}

/*----------------------- Gráfica -----------------------*/
#myChart {
    display: none;
}
#myChartFilter{
    display: none;
    margin: 30px;
}

/*----------------------- Radio Buttons -----------------------*/
.containerButton {
    margin-right: 12px;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
/* Esconde los radio buttons del navegador por defecto */
.containerButton input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
  
/* Custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}
  
.containerButton:hover input ~ .checkmark {
    background-color: #ccc;
}
  
.containerButton input:checked ~ .checkmark {
    background-color: #2196F3;
}
  
/* Indicador en el centro del radio button */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
/* Mostrar indicador cuando se selecciona el radio button */
.containerButton input:checked ~ .checkmark:after {
    display: block;
}
  
/* Estilo del indicador */
.containerButton .checkmark:after {
    top: 9px;
    left: 9px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: white;
}

/*----------------------- Popup -----------------------*/
#updatePopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 999;
    background-color: rgb(0, 0, 0);
    padding: 12px;
    border: 1px solid #212529;
    border-radius: 6px;
}


/*----------------------- Preloader -----------------------*/
#datos.preloader-site {
    overflow: hidden;
}

.preloader-wrapper {
    height: 100%;
    width: 100%;
    background-color: rgb(32, 32, 32);
    opacity: 0.9;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.preloader-wrapper .preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.preloader img {
    border-radius: 50%;
    opacity: 1;
    width: 60px;
}